@import url("https://fonts.googleapis.com/css?family=Libre+Barcode+128+Text:400 | Josefin+Sans:400, 300, 700, 500 | Montserrat:500");
@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+39&family=Roboto+Flex:opsz,wght@8..144,600;8..144,700;8..144,800&display=swap');


  @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,600;0,700;1,400&family=Roboto+Flex:opsz,wght@8..144,600;8..144,700;8..144,800&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap');



@tailwind base;
@tailwind components;
@tailwind utilities;

/*@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins-Black.ttf') format('truetype');
  src: url('./assets/fonts/Poppins-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
} */


.wave {
    animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
    animation-duration: 2.1s; /* Change to speed up or slow down */
    animation-iteration-count: infinite; /* Never stop waving :) */
    transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
    display: inline-block;
  }
  
  @keyframes wave-animation {
    0% {
      transform: rotate(0deg);
    }
    10% {
      transform: rotate(14deg);
    } /* The following five values can be played with to make the waving more or less extreme */
    20% {
      transform: rotate(-8deg);
    }
    30% {
      transform: rotate(14deg);
    }
    40% {
      transform: rotate(-4deg);
    }
    50% {
      transform: rotate(10deg);
    }
    60% {
      transform: rotate(0deg);
    } /* Reset for the last half to pause */
    100% {
      transform: rotate(0deg);
    }
  }


  /*ALL THE FONT, (ON EVERY PAGE) IS CHANGED FROM HERE*/
* {
   
  font-family: 'Josefin Sans', sans-serif !important;

  }

  body {
      /*background-color: black !important;*/
     /* background: linear-gradient(rgb(255, 255, 255,0), black);*/
     background-color: white !important;
      
  }


  .cursive {
    font-family: 'Leckerli One' !important;
}

